 *,
 ::before, 
 ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar{
   border: 1px solid blue; 
   height: 10vh;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
  

}

ul {
    list-style-type: none;
}

.nav-list {
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    align-items: items;
}

.nav-list li img {
 border: 3px solid purple;
 width: 25%;
 height: 5vh;
 
}

a {
   text-decoration: none; 
}

input[type="text"] {
    width: 200px;
    height: 26px;
    padding-right: 50px;
    margin-right: 70px;
  }
  
  button[type="button"] {
    margin-left: -74.5px;
    height: 31.2px;
    width:75px;
  }