 *,
 ::before, 
 ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav bar section */

.nav-bar{
   /*border: 1px solid blue; */
   height: 15vh;
   width: 100%;
   display: flex;
   align-items: center;
   background-color: grey;
  
}

/*.logo{
    padding-left: 10px;*
    width: 200px;
    border: 1px solid red;
    background-size: contain;
    display: flex;
    justify-content: center;
}*/

.logo a {
  /*border: 1px solid blue;*/
  /*width: 4000px;*/ 
  display: flex;
  justify-content: center;
}


ul {
    list-style-type: none;
}

.nav-list {
    /*border: 1px solid green;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
}
.nav-list > li{
    padding: 2px;
    color: white;
    

}   

.hove:hover {
   background-color: rgb(95, 87, 87); 
   border: 1px solid red;
   padding: 5px;
}

.nav-list li img {
 /*border: 1px solid purple;*/
 width: 100px;
 height: 6vh;
 background-color: grey;
 border-color: honeydew;
 font-size: 12px;
 
}

a {
   text-decoration: none; 
   color: white;
   font-size: larger;
}

/*.search {
    display: flex;
    align-items: center;
    justify-content: center;
}*/

input[type="text"] {
    width: 200px;
    height: 27px;
    /*padding-left: 50px;*/
    margin-right: 70px;
    border: 1px solid #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .search .fab {
    margin-right: -5.0px;
    height: 26.8px;
    width: 40px;
    border: 1px solid #fff;
    color: gray;
    background-color: #fff;
    border-width: none;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /*display: flex;
    justify-content: center;*/
    /*margin: 10px 0 10px 0;*/
  }

  /*main section starts here*/

  .article-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      /*border: 1px solid blue;*/
      width: 100%;
      height: 190vh;
  }

  .top-text {
    position: absolute;
    /*border: 1px solid purple;*/
    width: 100%;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 700;
    height: 30vh;  
  }

  .da {
    border: 2px solid rgb(70, 66, 66);  
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(70, 66, 66);
    width: 200px;
    height: 6vh;
  }

  

  .ipsum-1 {
    /*border: 1px solid red;*/ 
    position: relative; 
    background-color: rgb(107, 96, 96);;
    /*align-content: center;*/
    height: 8vh;
  }

  .ipsum-2 {
    /*border: 1px solid red;*/ 
    position: relative; 
   /* background-color: rgb(107, 96, 96);*/
    height: 8vh;
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ipsum-2 h1 {
     /*border: 1px solid purple; */
     background-color: rgb(107, 96, 96);
     height: 8vh;
     /*width: 440px;*/
  }

  /*div h1 {
    border: 1px solid red;
       
  }*/

  .h1-container {
    /*border: 1px solid blue;*/ 
    width: 65%; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
  }

  .icon-container {
     /*border: 1px solid pink;*/
     width: 25%;
     height: 14vh;
     display: flex;
     justify-content: center; 
  }

  .icon-container .fab {
    border: 1px solid rgb(172, 163, 163);
    padding: 6px;
    border-radius: 5px;
    margin-right: 13px;
    transform: rotate(-15deg);
    transform-origin: left-bottom;  
  }

  .icon-container .fab:hover {
    transform: rotate(0deg);
    box-shadow: 0 20px 500px 10px rgb(54, 52, 52, 0);
  }

  .article-content {
      border: 1px solid rgb(148, 139, 139);
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-items: center;
      background-color: gray; 
  }

  .article-content-sub {
     display: flex;
     flex-direction: column;
     /*border: 1px solid yellow;*/
     height: 55vh;
     justify-content: flex-end;
     font-size: 30px;
     font-weight: 700;
     width: 80%;
  }

  .article-content-sub .dolor {
      display: flex;
      justify-content: flex-start;
      /*border: 1px solid purple;*/
      /*width: 60%;*/
      margin-bottom: 10px;
  }

  .dolor div {
      border: 1px solid rgb(100, 94, 94);
      padding: 10px;
      margin-right: 10px;
      background-color: gray;
      transform: rotate(-15deg);
      transform-origin: left-bottom; 

  }

  .dolor div:hover {
    transform: rotate(0deg);
    box-shadow: 0 20px 500px 10px rgb(54, 52, 52, 0);
  }

  .dolor p {
      /*border: 1px solid red;*/
      font-size: 18px;
      display: flex;
      align-items: center;
  }

  .arrow {
     /*border: 1px solid black;*/
     width: 80%; 
     height: 12vh;
     font-size: 30px;
  }

  .section-2{
      display: grid;
      grid-template-columns: repeat(3,1fr );
      height:70vh;
      /*border: 1px solid red;*/
      
      background-color: gray;
      
  }
  .days{
      font-size: large;
      color:black;
  }
  .heading-underline{
      text-decoration: underline;
      color: black;
      font-size: xx-large;
  }
  .m-20 {
      margin:20px;
  }

  .middle-container {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    /*border: 1px solid purple;*/
    height: 70vh;
  }

  .cat-photo img {
    /*border: 1px solid red;*/
    width: 200px;
  }

  .explore {
    border: 1px solid gray;
    width: 135px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  }

  /*.explore > a {
    text-decoration: none;
  }*/

  .middle-1-article {
    border: 1px solid rgb(207, 191, 191);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(209, 199, 199);
  }

  .big-text {
    font-size: xx-large;
    font-weight: 900;
  }

  .middle-1-article a {
    text-decoration: underline;
    color: black;
  }

  .small-text {
    /*border: 1px solid pink;*/
    width: 80%;
    font-size: 20px;
  }

  .midddle-2-article {
    border: 1px solid rgb(211, 205, 205);
    display: flex;
    justify-content: center;
    background-color: rgb(201, 188, 188);
    
  }

  .middle-2-sub {
    /*border: 1px solid blue;*/
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
  }

  .middle-2-content {
    /*border: 1px solid black;*/
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }

  .arrow-2 {
    /*border: 1px solid pink;*/
    /*width: 100%;*/
    height: 8vh;
    font-size: 30px;
  }

.middle-color {
  background-color: rgb(117, 108, 108);
}  

.grid-4-section{
    display: flex;
    flex-flow: row;
}
.grid-4{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width:70%;
    grid-gap:0.1em;
    
}
.w-m{
    width:40%;
}
.shipping{
    background-color: grey;
    text-align: center;
    display:flex;
    flex-flow: column;
    height:90vh;
}
 .shipping-date{
     font-size:20px;
     color:white;
     margin: 20px 30px;
 }
 .shipping-text{
     font-size:30px;
     text-decoration-line: underline;
     margin:0 4em 2em;
 }
 .descrip{
     font-size: 20px;
    margin:0 2em;

 }
 .contents{
     color: black;
     background-color: whitesmoke;
     border-radius: 5px;
     padding:20px;
     font-weight:900;
     margin:20px 0 0 36%;
     width:26%;
   }
   .shipping > figure{
       margin-top:5em;
   }
 
 .c-white{
     color:whitesmoke;
 }

 /*Middle-3 of main-section starts here*/

 .middle-3-sub-1 {
   /*border: 1px solid purple;*/
   display: flex;
   justify-content: space-evenly;
   height: 50vh;
   align-items: center;
   background-color: rgba(204, 196, 196, 0.808);
 }

 .pictur {
   border: 5px solid rgb(70, 61, 61);
   width: 15%;
   font-size: 60px;
   text-align: center;
   height: 60%;
   display: flex; 
   align-items: center;
   justify-content: center;
   background-color: gray;
   transform: rotate(-15deg);
   transform-origin: left-bottom; 
 }

 .pictur:hover {  
  transform: rotate(0deg);
  box-shadow: 0 20px 500px 10px rgb(54, 52, 52, 0);
}

 .middle-3-sub-1-content {
   /*border: 1px solid black;*/
   width: 80%;
   height: 88%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

 .middle-3-header {
   /*border: 1px solid purple;*/
   height: 5vh;
   font-size: 25px;
 }

 .middle-3-para {
   /*border: 1px solid pink;*/
   height: 80%;
   font-size: 20px;
 }

 .middle-3-sub-2 {
   border: 1px solid red;
   height: 120vh;
   display: flex;
   justify-content: space-evenly;
 }

 .middle-3-sub-2-content {
   border: 1px solid black;
   display: flex;
   justify-content: space-evenly;
 }

 .sub-2-img {
   border: 3px solid gray;
   height: 7vh;
   width: 5vw;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: lightgray;
 }

 .sub-2-content {
   border: 1px solid pink;
   height: 25%;
   width: 80%;
 }
 .system-design{
     background-color: lightslategray;
     height:70vh;
     display: flex;
     flex-flow: row;
 }
 .design-system{
     width:60%;
     margin: 1em 2em;
 }
 .teardown-pics img{
     width:250px;

 }